<% obj.each do |article| %>
	
	<div class="row">
		<div class="card border-primary bg-light col-sm-8 offset-sm-2">
			<div class="card-header bg-light">
				<big>
				<%= link_to article.title, article_path(article) %> 
				</big>
			</div>
				
				<p class="class-text bg-light", style="text-indent: 20px">
					<%= truncate(article.description, length: 100) %>
				</p>
				</br>
			<div class="card-footer bg-light">
					
				<small>Created by: <%= article.user.username if article.user %>
					<%= time_ago_in_words(article.created_at) if article.created_at %> ago,
					last updated: <%= time_ago_in_words(article.updated_at) if article.created_at %> ago
				</small>
				</br>

				<% if logged_in? && (current_user == article.user || current_user.admin?) %>

				
					<%= link_to "Edit this article", edit_article_path(article), 
						class: "btn btn-sm btn-primary"%>
					<%= link_to "Delete this article", article_path(article),method: :delete, data: {confirm: "Are you sure you want to delete the article?"}, 
						class: "btn btn-sm btn-danger"%>
				
				<% end %>
			

			</div>
		</div>
	</div>
</br> 	
<% end %>
