</br><h1 align="center">All Alpha blogers</h1></br>

<div align="center">	
		
<%= will_paginate %>
	
<% @users.each do |user| %>
	<div class="row" >
		<div class="col-md-4 offset-md-4 card bg-light ">
				<ul style="list-style: none"> </br></br>
				<li><%= link_to gravatar_for(user), user_path(user) %></li>
				<li><%= link_to user.username, user_path(user) %></li>
				<li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
			</ul>
		</div>
	</div></br>
<%end%>

<%= will_paginate %>
			
		
</div>